.form-container {
  margin: 50px auto;
  width: 1500px;
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0), 0 7px 20px 0 rgb(0, 0, 0);
  position: relative;
  border-radius: 10px;
  height: 80vh;
  display: flex;
  grid-template-columns: 1fr 1fr;
}
.movie-base {
  font-size: 1.4rem;
  -webkit-text-stroke: 1px rgb(238, 205, 57);
  text-shadow: 0 0 2px rgb(240, 84, 12);
  color: rgb(255, 251, 0);
  font-family: "Permanent Marker", cursive;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-content-left {
  background: linear-gradient(220deg, rgb(184, 2, 2) 0%, rgb(101, 5, 5) 100%);
  border-radius: 25px;
  position: relative;
  border-radius: 0 10px 10px 0;
}

.form-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./images/background.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.Login-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./images/background.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-img-2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
  font-size: 20px;
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
  background: linear-gradient(220deg, #f2994a 0%, #f2c94c 100%);
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.598);
  color: #fff;
  font-size: 1.5rem;
  font-family: "Righteous", cursive;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(220deg, #f2994a 0%, #f2c94c 100%);
  transition: all 0.4s ease-out;
  box-shadow: 0 0 32px rgb(228, 151, 8), 0 0 30px black;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}
.form-img-2 {
  height: 350px;
  width: 350px;
  background-image: url(./images/happy.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}
