@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  overflow: hidden;
}
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  background: black;
}
.img-container {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-image: url(./images/collage2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  width: 120vw;
  filter: brightness(0.4);
  transform: perspective(1000px) rotateY(-10deg);
  overflow: visible;
}

Nav {
  z-index: 10;
  transform: translate(-50%, -50%);
  top: 5%;
  left: 50%;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  min-height: 10vh;
  color: aquamarine;
  font-size: 15px;
  font-weight: bolder;
  background: linear-gradient(black, rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0));
  margin: 0;
}
.nav-links {
  display: flex;
  position: sticky;
  width: 90%;
  justify-content: flex-end;
  margin-right: 5%;
  list-style: none;
  align-items: center;
  text-align: center;
}

.container {
  z-index: 2;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.596) 30%, black 32%-80%);
  height: 42vh;
}
.info {
  backdrop-filter: blur(2px);
  top: 15%;
  z-index: 1;
  position: absolute;
  height: 30vh;
  width: 50vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 0 0 22px rgb(231, 163, 248);
}
.banner-top-sub {
  position: relative;
  text-transform: uppercase;
  color: rgb(240, 168, 36);
  font-size: 0.8em;
  margin-bottom: -1%;
  font-family: "Lato", sans-serif;
}
.banner-title {
  position: relative;
  font-family: "Permanent Marker", cursive;
  text-transform: capitalize;
  color: rgb(255, 208, 0);
  font-size: 5rem;
  -webkit-text-stroke: 1px rgb(255, 214, 127);
  text-shadow: 0 0 32px rgb(240, 84, 12);
}
.banner-bottom-sub {
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  text-shadow: 0 0 32px black;
}
.bottom-sub-sub {
  color: white;
  font-size: smaller;
  margin-top: 10px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 20px;
}
.signup {
  height: 80px;
  width: 300px;

  border: none;
  background-color: aliceblue;
  border-radius: 8px;
  color: black;
  box-shadow: 0 0 32px black;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
}
.signup:hover {
  filter: opacity(0.8);
}
.signup,
a {
  color: black;
}
.footer {
  color: whitesmoke;
}
